{% extends "urls/index.html" %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <style>ul {  list-style-type: none;} li{display: inline-block;padding:20px;} a{text-decoration: none; color: blueviolet;}
    table, th, td {
  border: 1px solid black;
}
    </style>
     <ul>
            <li> <a href="{% url 'url:create_short_url'%}">home</a></li>
            {% if user.is_authenticated %}
                {% comment %} <li>Hi {{user.username}}</li> {% endcomment %}
                <li> <a href="{% url 'url:user_statics' user.id%}">statics</a> </li>
                <li>Hi {{user.username}}! Welcome!</li>
                <li><a href="{% url 'url:logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'url:login' %}">login</a></li>
                <li><a href="{% url 'url:register' %}">register</a></li>
            {% endif %}
    </ul>
</head>
{% endblock header %}
{% block body %}

<body>
<table>
    <tr><td>long_url</td><td>short_url</td><td>click_count number by users</td><td>Users</td></tr>
    {% for elm in analysis_list %}
    <tr>
        <td>{{elm.long_url}}</td>
        <td>{{elm.short_url}}</td>
        <td>{{elm.click_count}}</td>
        <td><table>
        <tr><td>user</td><td>response_time</td><td>created_time</td></tr>
        {% for item in elm.linkinfo.all %}
        <tr>
               <td> {{item.user.username}}</td>
               <td> {{item.response_time}}</td>
                <td>{{item.created_at}}</td>
        </tr>
        {% endfor %} 
        </table></td>
    </tr>
    {% endfor %} 
</table>

    {{msg}}
</body>
{% endblock body %}

</html>