{% extends "urls/index.html" %}
<!DOCTYPE html>
<html lang="en">
{% block header %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <style>ul {  list-style-type: none;} li{display: inline-block;padding:20px;} a{text-decoration: none; color: blueviolet;}</style>
     <ul>
            <li> <a href="{% url 'url:create_short_url'%}">home</a></li>
            {% if user.is_authenticated %}
                {% comment %} <li>Hi {{user.username}}</li> {% endcomment %}
                <li> <a href="{% url 'url:user_static'%}">statics</a> </li>
                <li>Hi {{user.username}}! Welcome!</li>
                <li><a href="{% url 'url:logout' %}">logout</a></li>
            {% else %}
                <li><a href="{% url 'url:login' %}">login</a></li>
                <li><a href="{% url 'url:register' %}">register</a></li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url 'url:analysis' %}">analysis</a></li>
            {% endif %}
    </ul>
</head>
{% endblock header %}
{% block body %}

<body>
    <form action="{%url 'url:register' %}" , method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="register">
    </form>
    {{msg}}
</body>
{% endblock body %}

</html>